<div class="container">
  <!--(two way binding) event binding kullanıldı-->
  <form (ngSubmit)="createSummary(); summaryForm.reset()" #summaryForm="ngForm">
    <div id="summary-input">

      <!--(two way binding) ngModel kullanıldı -> property, event, input/output-->
      <input type="text" class="form-control ng-valid" required [(ngModel)]="bookNameModel" placeholder="Kitap Adı" name="bookName">
      <textarea class="form-control form-control ng-valid" required [(ngModel)]="bookSummaryModel" placeholder="Kitap özeti"
                name="bookSummary"></textarea>

      <button type="submit" class="btn" [disabled]="summaryForm.form.invalid">Ekle</button>
    </div>
  </form>

  <!--ngFor Kullanıldı-->
  <mat-card class="mat-elevation-z5" *ngFor="let summary of summaryService.summaries">
    <mat-card-content>

      <div id="summary-show">
        <!--(one way binding) property kullanıldı-->
        <!--pipe kullanıldı-->
        <mat-card-title><b> Kitap Adı :  {{ summary.bookName | uppercase}}</b><br></mat-card-title>
        <span> Kitap özeti : {{ summary.bookSummary | slice:0:200 }} ... </span>
      </div>
    </mat-card-content>

    <div>
      <div class="d-flex align-items-baseline">
        <h4 class="title-text">Seçenekler </h4>

        <button style="margin-left:1rem " mat-stroked-button (click)="showNumber(summary.id)">
          Özet numarası
        </button>

        <button style="margin-left:1rem " mat-stroked-button (click)="showNumber(summary.id)">
          <a [routerLink]="['/summary-modal', summary.id]">Düzenle</a>
        </button>

        <button style="margin-left:1rem" mat-stroked-button (click)="deleteSummary(summary.id)">
          Sil
        </button>
      </div>
    </div>
  </mat-card>


</div>
